-: You can overwrite any options of others cfg files here

[com_mongodb]
Url = mongodb://localhost/ng2uiauthexample

[com_auth]
FacebookClientID =
FacebookSecret =
GoogleClientID =
GoogleSecret =
GithubClientID =
GithubSecret = 
FoursquareSecret =
LinkedinSecret =
WindowsLiveSecret =
TwitterKey =
TwitterSecret =
TwitterCallback =
YahooSecret =
